*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,li {
    list-style: none;
}
.header-list ul,.header-list li {
    display: inline;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%; 
    display: inline; 
}

.debug {
    border: 1px solid black;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;    
}

header .row{
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 10px 15px;
}

.header-list {
    gap: 30px;
    display: flex;
    font-size: 15px;
    align-items: center;
}

.container.hero {
    background-color: #b4d0e7;
}

.container-small {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

h1 {
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 30px;
}


.col-4 {
    flex-basis: calc(100% /3);
}

.col-8 {
    flex-basis: calc((100% /12)*8);
}

#arrow{
    font-size: 50px;
    position: absolute;
    bottom: 0px;
}

.hero-text{
    margin-bottom: 25px;
}
